<div class="margin-toolbar-container">
	<div class="fixie-editor-content" contenteditable>{{{ text }}}</div>
	<div class="margin-toolbar">
		<div class="fixie-editor-toolbar btn-group btn-group-vertical">
			<button class="btn btn-small fixie-toolbar-item" data-fixie-cmd="bold"><i class="icon-bold"></i></button>
			<button class="btn btn-small fixie-toolbar-item" data-fixie-cmd="italic"><i class="icon-italic"></i></button>
			<button class="btn btn-small fixie-toolbar-item" data-fixie-cmd="insertOrderedList"><i class="icon-list-ol"></i></button>
			<button class="btn btn-small fixie-toolbar-item" data-fixie-cmd="insertUnorderedList"><i class="icon-list-ul"></i></button>
			<button class="btn btn-small fixie-toolbar-item" data-fixie-cmd="insertLink"><i class="icon-link"></i></button>
		</div>
	</div>
</div>

