<div class="margin-toolbar-container">
	<div class="fixie-editor-content" contenteditable>{{{ text }}}</div>
	<div class="margin-toolbar">
		<div class="fixie-editor-toolbar btn-group btn-group-vertical">
			<button class="btn btn-mini fixie-toolbar-item" data-fixie-cmd="bold">Bold</button>
			<button class="btn btn-mini fixie-toolbar-item" data-fixie-cmd="italic">Italic</button>
			<button class="btn btn-mini fixie-toolbar-item" data-fixie-cmd="insertOrderedList">Ordered List</button>
			<button class="btn btn-mini fixie-toolbar-item" data-fixie-cmd="insertUnorderedList">Bulleted List</button>
		</div>
	</div>
</div>

