<div>
	<div class="fixie-editor-toolbar">
		<div class="btn fixie-toolbar-item" data-fixie-cmd="bold">Bold</div>
		<div class="btn fixie-toolbar-item" data-fixie-cmd="italic">Italic</div>
		<div class="btn fixie-toolbar-item" data-fixie-cmd="insertOrderedList">Ordered List</div>
		<div class="btn fixie-toolbar-item" data-fixie-cmd="insertUnorderedList">Bulleted List</div>
	</div>
	<div class="fixie-editor-content" contenteditable>{{{ content }}}</div>
</div>

